html, body {
  background-color: black;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 400px auto auto;
  grid-gap: 10px;
}

.container>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* QUESTION: why are subsequent elements in the "nth" format effected by previous elements' CSS styles? (lGoogle / Stackoverflow this) */

.container>div:nth-child(1n) {
  /* background-color: black; */
  color: white;
}

.container>div:nth-child(2n) {
  background-color: blue;
  color: red;
}

.container>div:nth-child(3n) {
  background-color: red;
  color: yellow;
}

.form-group {
  margin: 5px;
}

#title {
  background-image: url("https://raw.githubusercontent.com/0n11san/FirebaseTrain/master/assets/images/dan-paul-97267.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 5vw;
}

#currentTrainSchedule {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1vw;
}

#addTrain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-size: 1vw;
}

/* note: need to mess around w/ "font-size: #vw;" above as relative sizing looks too small on mobile IMO (at 1vw) and too big if I increase (to 2 or 3 vm) */
